body{
    background-color: rgba(108, 150, 143, 0.671);
    margin: 0;
    padding: 0;
}

#lightSwitch{
    width: 300px;
    height: 25px;
    text-align: center;
    padding: 5px;
    text-decoration: none;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -15px 0 0 -152.5px;
}